body{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px;
    padding: 0px;
    background-image: url("image2.jpg");
    background-size: 1400px;
    color: white;
}
.left{
   position: absolute;
   display: inline-block;
   top: 16px;
   left: 30px;
}
.left img{
    width: 99px;
}
.left div{
    text-align: center;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 26px;
}
.navbar li a:hover{
    text-decoration: underline;
    color: gray;
}
.mid{
   display: block;
   width: 55%;
   margin: 12px auto;
}

.btn {
    margin: 0 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Balsamiq Sans', cursive;

}
.btn:hover{
    background-color: gray;
}
.right {
    position: absolute;
    right: 20px;
    top: 16px;
    display: inline-block;
    margin-top: 10px;
}
.container {
    margin: 105px 80px;
    padding: 75px;
    border: 2px solid white;
    width: 33%;
    border-radius: 33px;
}
.form-group input {
    text-align: center;
    display: block;
    padding: 8px;
    margin: 11px;
    border-radius: 15px;
    width: 415px;
    font-family: 'Balsamiq Sans', cursive;
}
.container h1{
    text-align: center;
}
.container .btn {
    display: block;
    width: 94%;
    margin: auto;
    border-radius: 15px;
}
.form-group input{
    border-top: 2px solid black;
}